#Global Climate Trends

##Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
# Study co2 data file
co2_path = "Data/Sorted/co2_emissions.csv"

# Path to input files
co2_input_file_path = os.path.join(co2_path)

# Path to output files
co2_output_file_path = os.path.join( "Data/output/Energy_CO2_Emissions_by_year_n_country.csv")

# Read the energyata and the study results
co2_df = pd.read_csv(co2_input_file_path)
co2_df

,Country,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,403.5,393.4,406.7,437.4,457.4,444.8,428.0,441.9,438.4,...,559.3,564.5,564.3,545.9,561.5,571.5,558.8,500.1,510.2,519.7
1,Mexico,233.9,230.4,239.9,241.0,253.9,280.8,287.3,290.9,293.6,...,496.7,482.8,480.9,491.1,503.3,489.0,480.1,417.8,449.8,505.9
2,US,4576.0,4598.2,4749.9,4969.1,5058.1,4970.5,4922.6,5004.9,5117.6,...,5246.6,5251.7,5137.5,5038.0,4978.8,5133.2,4981.6,4462.7,4768.4,4825.8
3,Argentina,94.6,100.0,104.6,109.9,107.2,100.3,102.8,108.9,107.7,...,187.6,187.8,191.2,190.1,188.5,186.0,174.6,162.3,184.7,190.1
4,Brazil,185.0,199.4,205.8,207.6,211.4,206.4,213.4,212.4,222.5,...,487.0,511.7,494.8,455.9,461.7,442.1,435.5,408.4,461.6,443.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Sri Lanka,4.9,5.0,5.6,5.2,4.8,5.4,5.4,6.1,6.1,...,15.9,19.6,21.6,24.9,24.5,23.5,25.2,24.7,23.0,19.9
87,Taiwan,73.7,85.5,90.6,106.8,116.8,120.1,128.4,138.3,149.7,...,268.5,275.4,275.7,280.9,286.9,284.8,279.3,265.7,280.2,272.4
88,Thailand,46.1,47.8,56.4,63.8,74.0,89.4,99.1,108.7,122.5,...,265.8,273.7,281.1,286.8,287.5,293.2,288.4,273.1,270.3,275.3
89,Vietnam,17.4,19.0,21.5,21.0,17.9,18.0,17.5,18.4,20.7,...,134.0,150.2,181.9,197.3,199.0,240.4,291.1,285.0,273.1,270.0
90,Other Asia Pacific,166.7,168.8,162.3,163.6,159.0,154.4,149.3,133.2,126.0,...,107.3,119.3,128.8,137.5,178.7,185.3,200.0,200.7,206.6,206.2

In [3]:
# Path to capita file
per_capita_file_path = "Data/Sorted/energy_consumption_per_capita.csv"

# Path to input files
per_capita_input_file_path = os.path.join(per_capita_file_path)

# Path to output files
per_capita_output_file_path = os.path.join("Data/output/primary_energy_consumption_capita_by_year_n_country.csv")

# Read the energyata and the study results
capita_df = pd.read_csv(per_capita_input_file_path)
capita_df

,Country,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Canada,398.0,397.7,405.5,415.8,413.2,391.6,388.2,393.9,399.3,...,410.6,407.5,406.4,396.7,397.8,396.2,388.7,361.8,362.7,367.8
1,Mexico,54.5,52.0,52.8,52.3,54.3,58.1,58.6,58.6,57.6,...,68.8,67.5,66.0,66.7,67.3,65.8,64.5,59.0,63.1,68.4
2,US,309.0,308.8,316.0,327.1,331.4,328.0,323.1,323.2,325.4,...,290.0,290.6,285.5,283.0,281.8,290.1,286.2,263.7,277.2,283.5
3,Argentina,57.2,59.6,61.3,61.4,58.4,56.6,56.7,60.0,61.1,...,83.3,82.4,83.0,81.8,81.0,79.8,74.6,69.5,76.8,79.2
4,Brazil,36.1,37.3,37.6,38.0,38.3,37.4,38.0,37.9,39.0,...,62.0,63.1,61.7,59.7,59.8,59.5,60.1,57.3,60.0,62.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Sri Lanka,5.7,6.0,6.1,5.9,5.7,6.3,6.2,6.5,7.0,...,13.5,14.4,16.1,17.6,17.0,17.6,17.9,17.5,17.6,15.7
87,Taiwan,73.3,78.8,84.3,92.1,96.8,102.2,107.1,112.8,118.4,...,203.0,206.7,205.7,206.4,205.5,207.7,203.6,197.5,208.8,200.2
88,Thailand,13.5,14.1,15.9,17.5,20.0,23.1,25.1,27.0,30.2,...,67.7,69.5,70.8,71.9,73.0,75.0,74.9,69.5,69.9,70.6
89,Vietnam,3.7,3.9,4.3,4.2,3.9,4.1,4.1,4.4,5.0,...,26.3,28.7,32.4,34.8,37.1,41.2,45.3,44.9,44.6,46.7
90,Other Asia Pacific,19.9,19.9,19.0,18.9,18.1,17.4,16.5,14.6,13.5,...,11.7,12.4,12.8,13.6,16.1,16.7,17.2,17.4,18.0,18.0

In [4]:
# Create Array to further sort data for merging
co2_df_array = []

# Loop over the columns of the dataframe skipping the first column
for column in co2_df.columns[1:]:
    # Create a new dataframe with the country and the year
    cy_list = co2_df[['Country', column]].copy()

    # Adding a new column to the dataframe and positionong
    cy_list.insert(0, 'Year', column)

    #Rename for dataset
    cy_list.rename(columns={column: "Energy CO2 Emissions" }, inplace=True)

    # Adding the new dataframe to the array
    co2_df_array.append(cy_list)

co2_df_array

[    Year             Country Energy CO2 Emissions
 0   1985              Canada                403.5
 1   1985              Mexico                233.9
 2   1985                  US               4576.0
 3   1985           Argentina                 94.6
 4   1985              Brazil                185.0
 ..   ...                 ...                  ...
 86  1985           Sri Lanka                  4.9
 87  1985              Taiwan                 73.7
 88  1985            Thailand                 46.1
 89  1985             Vietnam                 17.4
 90  1985  Other Asia Pacific                166.7

 [91 rows x 3 columns],
     Year             Country Energy CO2 Emissions
 0   1986              Canada                393.4
 1   1986              Mexico                230.4
 2   1986                  US               4598.2
 3   1986           Argentina                100.0
 4   1986              Brazil                199.4
 ..   ...                 ...                  ...
 86  1986           Sri Lanka                  5.0
 87  1986              Taiwan                 85.5
 88  1986            Thailand                 47.8
 89  1986             Vietnam                 19.0
 90  1986  Other Asia Pacific                168.8

 [91 rows x 3 columns],
     Year             Country Energy CO2 Emissions
 0   1987              Canada                406.7
 1   1987              Mexico                239.9
 2   1987                  US               4749.9
 3   1987           Argentina                104.6
 4   1987              Brazil                205.8
 ..   ...                 ...                  ...
 86  1987           Sri Lanka                  5.6
 87  1987              Taiwan                 90.6
 88  1987            Thailand                 56.4
 89  1987             Vietnam                 21.5
 90  1987  Other Asia Pacific                162.3

 [91 rows x 3 columns],
     Year             Country Energy CO2 Emissions
 0   1988              Canada                437.4
 1   1988              Mexico                241.0
 2   1988                  US               4969.1
 3   1988           Argentina                109.9
 4   1988              Brazil                207.6
 ..   ...                 ...                  ...
 86  1988           Sri Lanka                  5.2
 87  1988              Taiwan                106.8
 88  1988            Thailand                 63.8
 89  1988             Vietnam                 21.0
 90  1988  Other Asia Pacific                163.6

 [91 rows x 3 columns],
     Year             Country Energy CO2 Emissions
 0   1989              Canada                457.4
 1   1989              Mexico                253.9
 2   1989                  US               5058.1
 3   1989           Argentina                107.2
 4   1989              Brazil                211.4
 ..   ...                 ...                  ...
 86  1989           Sri Lanka                  4.8
 87  1989              Taiwan                116.8
 88  1989            Thailand                 74.0
 89  1989             Vietnam                 17.9
 90  1989  Other Asia Pacific                159.0

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1990              Canada                 444.8
 1   1990              Mexico                 280.8
 2   1990                  US                4970.5
 3   1990           Argentina                 100.3
 4   1990              Brazil                 206.4
 ..   ...                 ...                   ...
 86  1990           Sri Lanka                   5.4
 87  1990              Taiwan                 120.1
 88  1990            Thailand                  89.4
 89  1990             Vietnam                  18.0
 90  1990  Other Asia Pacific                 154.4

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1991              Canada                 428.0
 1   1991              Mexico                 287.3
 2   1991                  US                4922.6
 3   1991           Argentina                 102.8
 4   1991              Brazil                 213.4
 ..   ...                 ...                   ...
 86  1991           Sri Lanka                   5.4
 87  1991              Taiwan                 128.4
 88  1991            Thailand                  99.1
 89  1991             Vietnam                  17.5
 90  1991  Other Asia Pacific                 149.3

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1992              Canada                 441.9
 1   1992              Mexico                 290.9
 2   1992                  US                5004.9
 3   1992           Argentina                 108.9
 4   1992              Brazil                 212.4
 ..   ...                 ...                   ...
 86  1992           Sri Lanka                   6.1
 87  1992              Taiwan                 138.3
 88  1992            Thailand                 108.7
 89  1992             Vietnam                  18.4
 90  1992  Other Asia Pacific                 133.2

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1993              Canada                 438.4
 1   1993              Mexico                 293.6
 2   1993                  US                5117.6
 3   1993           Argentina                 107.7
 4   1993              Brazil                 222.5
 ..   ...                 ...                   ...
 86  1993           Sri Lanka                   6.1
 87  1993              Taiwan                 149.7
 88  1993            Thailand                 122.5
 89  1993             Vietnam                  20.7
 90  1993  Other Asia Pacific                 126.0

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1994              Canada                 453.2
 1   1994              Mexico                 318.0
 2   1994                  US                5195.4
 3   1994           Argentina                 114.0
 4   1994              Brazil                 234.0
 ..   ...                 ...                   ...
 86  1994           Sri Lanka                   6.7
 87  1994              Taiwan                 158.5
 88  1994            Thailand                 137.3
 89  1994             Vietnam                  23.1
 90  1994  Other Asia Pacific                 118.3

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1995              Canada                 471.5
 1   1995              Mexico                 304.1
 2   1995                  US                5227.9
 3   1995           Argentina                 118.9
 4   1995              Brazil                 253.6
 ..   ...                 ...                   ...
 86  1995           Sri Lanka                   7.1
 87  1995              Taiwan                 169.0
 88  1995            Thailand                 154.1
 89  1995             Vietnam                  27.4
 90  1995  Other Asia Pacific                 114.7

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1996              Canada                 480.6
 1   1996              Mexico                 313.6
 2   1996                  US                5407.6
 3   1996           Argentina                 126.3
 4   1996              Brazil                 271.5
 ..   ...                 ...                   ...
 86  1996           Sri Lanka                   8.7
 87  1996              Taiwan                 176.7
 88  1996            Thailand                 172.0
 89  1996             Vietnam                  31.4
 90  1996  Other Asia Pacific                 105.6

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1997              Canada                 494.0
 1   1997              Mexico                 330.5
 2   1997                  US                5483.0
 3   1997           Argentina                 125.0
 4   1997              Brazil                 289.1
 ..   ...                 ...                   ...
 86  1997           Sri Lanka                   8.9
 87  1997              Taiwan                 191.9
 88  1997            Thailand                 178.8
 89  1997             Vietnam                  38.0
 90  1997  Other Asia Pacific                 105.6

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1998              Canada                 508.3
 1   1998              Mexico                 346.8
 2   1998                  US                5524.1
 3   1998           Argentina                 132.0
 4   1998              Brazil                 298.5
 ..   ...                 ...                   ...
 86  1998           Sri Lanka                   9.3
 87  1998              Taiwan                 204.0
 88  1998            Thailand                 162.5
 89  1998             Vietnam                  41.5
 90  1998  Other Asia Pacific                 100.3

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   1999              Canada                 513.2
 1   1999              Mexico                 344.4
 2   1999                  US                5574.1
 3   1999           Argentina                 136.5
 4   1999              Brazil                 301.2
 ..   ...                 ...                   ...
 86  1999           Sri Lanka                  10.0
 87  1999              Taiwan                 214.8
 88  1999            Thailand                 168.6
 89  1999             Vietnam                  40.6
 90  1999  Other Asia Pacific                 107.0

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2000              Canada                 533.1
 1   2000              Mexico                 370.3
 2   2000                  US                5740.7
 3   2000           Argentina                 131.4
 4   2000              Brazil                 319.4
 ..   ...                 ...                   ...
 86  2000           Sri Lanka                  11.5
 87  2000              Taiwan                 231.5
 88  2000            Thailand                 169.7
 89  2000             Vietnam                  47.5
 90  2000  Other Asia Pacific                 114.4

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2001              Canada                 535.8
 1   2001              Mexico                 370.9
 2   2001                  US                5650.7
 3   2001           Argentina                 120.7
 4   2001              Brazil                 328.2
 ..   ...                 ...                   ...
 86  2001           Sri Lanka                  11.2
 87  2001              Taiwan                 229.1
 88  2001            Thailand                 176.7
 89  2001             Vietnam                  51.9
 90  2001  Other Asia Pacific                 117.4

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2002              Canada                 548.7
 1   2002              Mexico                 389.1
 2   2002                  US                5672.3
 3   2002           Argentina                 116.0
 4   2002              Brazil                 327.3
 ..   ...                 ...                   ...
 86  2002           Sri Lanka                  12.0
 87  2002              Taiwan                 239.7
 88  2002            Thailand                 187.9
 89  2002             Vietnam                  58.1
 90  2002  Other Asia Pacific                 113.9

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2003              Canada                 557.8
 1   2003              Mexico                 392.3
 2   2003                  US                5737.6
 3   2003           Argentina                 125.4
 4   2003              Brazil                 324.6
 ..   ...                 ...                   ...
 86  2003           Sri Lanka                  11.9
 87  2003              Taiwan                 249.0
 88  2003            Thailand                 197.3
 89  2003             Vietnam                  63.5
 90  2003  Other Asia Pacific                 119.8

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2004              Canada                 555.3
 1   2004              Mexico                 413.6
 2   2004                  US                5838.9
 3   2004           Argentina                 137.1
 4   2004              Brazil                 341.7
 ..   ...                 ...                   ...
 86  2004           Sri Lanka                  11.7
 87  2004              Taiwan                 258.9
 88  2004            Thailand                 216.2
 89  2004             Vietnam                  82.0
 90  2004  Other Asia Pacific                 121.2

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2005              Canada                 555.0
 1   2005              Mexico                 455.6
 2   2005                  US                5873.2
 3   2005           Argentina                 145.3
 4   2005              Brazil                 345.3
 ..   ...                 ...                   ...
 86  2005           Sri Lanka                  13.6
 87  2005              Taiwan                 264.2
 88  2005            Thailand                 223.9
 89  2005             Vietnam                  87.5
 90  2005  Other Asia Pacific                 126.2

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2006              Canada                 547.9
 1   2006              Mexico                 459.2
 2   2006                  US                5795.2
 3   2006           Argentina                 151.2
 4   2006              Brazil                 351.1
 ..   ...                 ...                   ...
 86  2006           Sri Lanka                  13.9
 87  2006              Taiwan                 273.3
 88  2006            Thailand                 225.8
 89  2006             Vietnam                  73.4
 90  2006  Other Asia Pacific                 130.8

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2007              Canada                 575.0
 1   2007              Mexico                 465.0
 2   2007                  US                5884.2
 3   2007           Argentina                 164.3
 4   2007              Brazil                 371.2
 ..   ...                 ...                   ...
 86  2007           Sri Lanka                  14.7
 87  2007              Taiwan                 275.2
 88  2007            Thailand                 234.5
 89  2007             Vietnam                  80.4
 90  2007  Other Asia Pacific                 122.5

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2008              Canada                 559.4
 1   2008              Mexico                 475.7
 2   2008                  US                5700.9
 3   2008           Argentina                 165.8
 4   2008              Brazil                 393.6
 ..   ...                 ...                   ...
 86  2008           Sri Lanka                  13.6
 87  2008              Taiwan                 262.0
 88  2008            Thailand                 235.8
 89  2008             Vietnam                 105.2
 90  2008  Other Asia Pacific                 128.1

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2009              Canada                 531.6
 1   2009              Mexico                 471.8
 2   2009                  US                5289.2
 3   2009           Argentina                 158.0
 4   2009              Brazil                 368.8
 ..   ...                 ...                   ...
 86  2009           Sri Lanka                  14.0
 87  2009              Taiwan                 248.5
 88  2009            Thailand                 235.9
 89  2009             Vietnam                 103.3
 90  2009  Other Asia Pacific                 112.2

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2010              Canada                 545.6
 1   2010              Mexico                 466.8
 2   2010                  US                5485.7
 3   2010           Argentina                 166.9
 4   2010              Brazil                 410.6
 ..   ...                 ...                   ...
 86  2010           Sri Lanka                  14.0
 87  2010              Taiwan                 268.1
 88  2010            Thailand                 248.8
 89  2010             Vietnam                 122.8
 90  2010  Other Asia Pacific                 119.1

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2011              Canada                 549.4
 1   2011              Mexico                 489.7
 2   2011                  US                5336.2
 3   2011           Argentina                 173.1
 4   2011              Brazil                 428.0
 ..   ...                 ...                   ...
 86  2011           Sri Lanka                  16.4
 87  2011              Taiwan                 273.1
 88  2011            Thailand                 249.3
 89  2011             Vietnam                 132.1
 90  2011  Other Asia Pacific                 110.9

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2012              Canada                 545.5
 1   2012              Mexico                 499.4
 2   2012                  US                5089.1
 3   2012           Argentina                 181.8
 4   2012              Brazil                 457.8
 ..   ...                 ...                   ...
 86  2012           Sri Lanka                  18.2
 87  2012              Taiwan                 266.9
 88  2012            Thailand                 266.7
 89  2012             Vietnam                 129.3
 90  2012  Other Asia Pacific                 116.1

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2013              Canada                 559.3
 1   2013              Mexico                 496.7
 2   2013                  US                5246.6
 3   2013           Argentina                 187.6
 4   2013              Brazil                 487.0
 ..   ...                 ...                   ...
 86  2013           Sri Lanka                  15.9
 87  2013              Taiwan                 268.5
 88  2013            Thailand                 265.8
 89  2013             Vietnam                 134.0
 90  2013  Other Asia Pacific                 107.3

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2014              Canada                 564.5
 1   2014              Mexico                 482.8
 2   2014                  US                5251.7
 3   2014           Argentina                 187.8
 4   2014              Brazil                 511.7
 ..   ...                 ...                   ...
 86  2014           Sri Lanka                  19.6
 87  2014              Taiwan                 275.4
 88  2014            Thailand                 273.7
 89  2014             Vietnam                 150.2
 90  2014  Other Asia Pacific                 119.3

 [91 rows x 3 columns],
     Year             Country  Energy CO2 Emissions
 0   2015              Canada                 564.3
 1   2015              Mexico                 480.9
 2   2015                  US                5137.5
 3   2015           Argentina                 191.2
 4   2015              Brazil                 494.8
 ..   ...                 ...                   ...
 86  2015           Sri Lanka                  21.6
 87  2015              Taiwan                 275.7
 88  2015            Thailand                 281.1
 89  2015             Vietnam                 181.9

In [5]:
# Merge dfs 
merged_co2_df = pd.concat(co2_df_array, ignore_index=True)
merged_co2_df

#Save csv
# merged_co2_df.to_csv(co2_output_file_path, index=False, header=True)

      Year             Country Energy CO2 Emissions
0     1985              Canada                403.5
1     1985              Mexico                233.9
2     1985                  US               4576.0
3     1985           Argentina                 94.6
4     1985              Brazil                185.0
...    ...                 ...                  ...
3453  2022           Sri Lanka                 19.9
3454  2022              Taiwan                272.4
3455  2022            Thailand                275.3
3456  2022             Vietnam                270.0
3457  2022  Other Asia Pacific                206.2

[3458 rows x 3 columns]

In [6]:
capita_df_array = []

# Loop over the columns of the dataframe skipping the first column
for column in capita_df.columns[1:]:
    # Create a new dataframe with the country and the year
    cy_list = capita_df[['Country', column]].copy()

    # Adding a new column to the dataframe and positionong
    cy_list.insert(0, 'Year', column)

    #Rename for dataset
    cy_list.rename(columns={column: 'Primary Energy Consumption per Capita'}, inplace=True)

    # Adding the new dataframe to the array
    capita_df_array.append(cy_list)

capita_df_array

[    Year             Country  Primary Energy Consumption per Capita
 0   1985              Canada                                  398.0
 1   1985              Mexico                                   54.5
 2   1985                  US                                  309.0
 3   1985           Argentina                                   57.2
 4   1985              Brazil                                   36.1
 ..   ...                 ...                                    ...
 86  1985           Sri Lanka                                    5.7
 87  1985              Taiwan                                   73.3
 88  1985            Thailand                                   13.5
 89  1985             Vietnam                                    3.7
 90  1985  Other Asia Pacific                                   19.9

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1986              Canada                                  397.7
 1   1986              Mexico                                   52.0
 2   1986                  US                                  308.8
 3   1986           Argentina                                   59.6
 4   1986              Brazil                                   37.3
 ..   ...                 ...                                    ...
 86  1986           Sri Lanka                                    6.0
 87  1986              Taiwan                                   78.8
 88  1986            Thailand                                   14.1
 89  1986             Vietnam                                    3.9
 90  1986  Other Asia Pacific                                   19.9

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1987              Canada                                  405.5
 1   1987              Mexico                                   52.8
 2   1987                  US                                  316.0
 3   1987           Argentina                                   61.3
 4   1987              Brazil                                   37.6
 ..   ...                 ...                                    ...
 86  1987           Sri Lanka                                    6.1
 87  1987              Taiwan                                   84.3
 88  1987            Thailand                                   15.9
 89  1987             Vietnam                                    4.3
 90  1987  Other Asia Pacific                                   19.0

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1988              Canada                                  415.8
 1   1988              Mexico                                   52.3
 2   1988                  US                                  327.1
 3   1988           Argentina                                   61.4
 4   1988              Brazil                                   38.0
 ..   ...                 ...                                    ...
 86  1988           Sri Lanka                                    5.9
 87  1988              Taiwan                                   92.1
 88  1988            Thailand                                   17.5
 89  1988             Vietnam                                    4.2
 90  1988  Other Asia Pacific                                   18.9

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1989              Canada                                  413.2
 1   1989              Mexico                                   54.3
 2   1989                  US                                  331.4
 3   1989           Argentina                                   58.4
 4   1989              Brazil                                   38.3
 ..   ...                 ...                                    ...
 86  1989           Sri Lanka                                    5.7
 87  1989              Taiwan                                   96.8
 88  1989            Thailand                                   20.0
 89  1989             Vietnam                                    3.9
 90  1989  Other Asia Pacific                                   18.1

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1990              Canada                                  391.6
 1   1990              Mexico                                   58.1
 2   1990                  US                                  328.0
 3   1990           Argentina                                   56.6
 4   1990              Brazil                                   37.4
 ..   ...                 ...                                    ...
 86  1990           Sri Lanka                                    6.3
 87  1990              Taiwan                                  102.2
 88  1990            Thailand                                   23.1
 89  1990             Vietnam                                    4.1
 90  1990  Other Asia Pacific                                   17.4

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1991              Canada                                  388.2
 1   1991              Mexico                                   58.6
 2   1991                  US                                  323.1
 3   1991           Argentina                                   56.7
 4   1991              Brazil                                   38.0
 ..   ...                 ...                                    ...
 86  1991           Sri Lanka                                    6.2
 87  1991              Taiwan                                  107.1
 88  1991            Thailand                                   25.1
 89  1991             Vietnam                                    4.1
 90  1991  Other Asia Pacific                                   16.5

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1992              Canada                                  393.9
 1   1992              Mexico                                   58.6
 2   1992                  US                                  323.2
 3   1992           Argentina                                   60.0
 4   1992              Brazil                                   37.9
 ..   ...                 ...                                    ...
 86  1992           Sri Lanka                                    6.5
 87  1992              Taiwan                                  112.8
 88  1992            Thailand                                   27.0
 89  1992             Vietnam                                    4.4
 90  1992  Other Asia Pacific                                   14.6

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1993              Canada                                  399.3
 1   1993              Mexico                                   57.6
 2   1993                  US                                  325.4
 3   1993           Argentina                                   61.1
 4   1993              Brazil                                   39.0
 ..   ...                 ...                                    ...
 86  1993           Sri Lanka                                    7.0
 87  1993              Taiwan                                  118.4
 88  1993            Thailand                                   30.2
 89  1993             Vietnam                                    5.0
 90  1993  Other Asia Pacific                                   13.5

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1994              Canada                                  410.1
 1   1994              Mexico                                   59.7
 2   1994                  US                                  327.0
 3   1994           Argentina                                   63.5
 4   1994              Brazil                                   40.2
 ..   ...                 ...                                    ...
 86  1994           Sri Lanka                                    7.6
 87  1994              Taiwan                                  124.6
 88  1994            Thailand                                   33.5
 89  1994             Vietnam                                    5.4
 90  1994  Other Asia Pacific                                   12.6

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1995              Canada                                  415.7
 1   1995              Mexico                                   57.6
 2   1995                  US                                  329.8
 3   1995           Argentina                                   64.7
 4   1995              Brazil                                   42.1
 ..   ...                 ...                                    ...
 86  1995           Sri Lanka                                    8.1
 87  1995              Taiwan                                  131.5
 88  1995            Thailand                                   37.3
 89  1995             Vietnam                                    6.2
 90  1995  Other Asia Pacific                                   12.1

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1996              Canada                                  422.6
 1   1996              Mexico                                   58.1
 2   1996                  US                                  336.8
 3   1996           Argentina                                   66.8
 4   1996              Brazil                                   43.9
 ..   ...                 ...                                    ...
 86  1996           Sri Lanka                                    8.4
 87  1996              Taiwan                                  135.9
 88  1996            Thailand                                   41.6
 89  1996             Vietnam                                    7.0
 90  1996  Other Asia Pacific                                   11.1

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1997              Canada                                  420.6
 1   1997              Mexico                                   58.4
 2   1997                  US                                  335.0
 3   1997           Argentina                                   66.8
 4   1997              Brazil                                   46.0
 ..   ...                 ...                                    ...
 86  1997           Sri Lanka                                    8.6
 87  1997              Taiwan                                  142.9
 88  1997            Thailand                                   43.3
 89  1997             Vietnam                                    7.9
 90  1997  Other Asia Pacific                                   10.8

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1998              Canada                                  411.0
 1   1998              Mexico                                   59.8
 2   1998                  US                                  333.0
 3   1998           Argentina                                   68.4
 4   1998              Brazil                                   46.9
 ..   ...                 ...                                    ...
 86  1998           Sri Lanka                                    9.1
 87  1998              Taiwan                                  150.5
 88  1998            Thailand                                   39.4
 89  1998             Vietnam                                    8.5
 90  1998  Other Asia Pacific                                   10.2

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   1999              Canada                                  420.5
 1   1999              Mexico                                   59.7
 2   1999                  US                                  334.8
 3   1999           Argentina                                   68.4
 4   1999              Brazil                                   46.8
 ..   ...                 ...                                    ...
 86  1999           Sri Lanka                                    9.8
 87  1999              Taiwan                                  156.4
 88  1999            Thailand                                   41.3
 89  1999             Vietnam                                    8.7
 90  1999  Other Asia Pacific                                   10.5

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2000              Canada                                  428.0
 1   2000              Mexico                                   62.3
 2   2000                  US                                  338.4
 3   2000           Argentina                                   67.9
 4   2000              Brazil                                   48.2
 ..   ...                 ...                                    ...
 86  2000           Sri Lanka                                   10.3
 87  2000              Taiwan                                  165.3
 88  2000            Thailand                                   42.4
 89  2000             Vietnam                                    9.8
 90  2000  Other Asia Pacific                                   11.1

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2001              Canada                                  414.8
 1   2001              Mexico                                   60.8
 2   2001                  US                                  326.8
 3   2001           Argentina                                   65.6
 4   2001              Brazil                                   46.4
 ..   ...                 ...                                    ...
 86  2001           Sri Lanka                                    9.9
 87  2001              Taiwan                                  169.4
 88  2001            Thailand                                   44.3
 89  2001             Vietnam                                   10.9
 90  2001  Other Asia Pacific                                   11.3

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2002              Canada                                  424.5
 1   2002              Mexico                                   61.4
 2   2002                  US                                  328.3
 3   2002           Argentina                                   62.2
 4   2002              Brazil                                   46.9
 ..   ...                 ...                                    ...
 86  2002           Sri Lanka                                   10.1
 87  2002              Taiwan                                  175.7
 88  2002            Thailand                                   47.5
 89  2002             Vietnam                                   11.8
 90  2002  Other Asia Pacific                                   10.8

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2003              Canada                                  422.5
 1   2003              Mexico                                   61.2
 2   2003                  US                                  326.2
 3   2003           Argentina                                   66.0
 4   2003              Brazil                                   47.2
 ..   ...                 ...                                    ...
 86  2003           Sri Lanka                                   10.3
 87  2003              Taiwan                                  182.6
 88  2003            Thailand                                   50.7
 89  2003             Vietnam                                   12.6
 90  2003  Other Asia Pacific                                   11.2

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2004              Canada                                  425.1
 1   2004              Mexico                                   63.8
 2   2004                  US                                  329.4
 3   2004           Argentina                                   69.3
 4   2004              Brazil                                   48.9
 ..   ...                 ...                                    ...
 86  2004           Sri Lanka                                    9.9
 87  2004              Taiwan                                  189.4
 88  2004            Thailand                                   54.6
 89  2004             Vietnam                                   15.2
 90  2004  Other Asia Pacific                                   11.2

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2005              Canada                                  423.9
 1   2005              Mexico                                   69.0
 2   2005                  US                                  326.4
 3   2005           Argentina                                   72.8
 4   2005              Brazil                                   49.7
 ..   ...                 ...                                    ...
 86  2005           Sri Lanka                                   11.3
 87  2005              Taiwan                                  191.1
 88  2005            Thailand                                   55.9
 89  2005             Vietnam                                   16.0
 90  2005  Other Asia Pacific                                   11.6

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2006              Canada                                  417.4
 1   2006              Mexico                                   69.0
 2   2006                  US                                  320.6
 3   2006           Argentina                                   75.7
 4   2006              Brazil                                   50.5
 ..   ...                 ...                                    ...
 86  2006           Sri Lanka                                   12.0
 87  2006              Taiwan                                  195.5
 88  2006            Thailand                                   56.6
 89  2006             Vietnam                                   14.5
 90  2006  Other Asia Pacific                                   11.9

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2007              Canada                                  429.0
 1   2007              Mexico                                   68.8
 2   2007                  US                                  321.8
 3   2007           Argentina                                   78.2
 4   2007              Brazil                                   53.2
 ..   ...                 ...                                    ...
 86  2007           Sri Lanka                                   12.1
 87  2007              Taiwan                                  203.1
 88  2007            Thailand                                   58.1
 89  2007             Vietnam                                   15.7
 90  2007  Other Asia Pacific                                   11.5

 [91 rows x 3 columns],
     Year             Country  Primary Energy Consumption per Capita
 0   2008              Canada                                  419.3
 1   2008              Mexico                                   70.7
 2   2008                  US                                  311.0
 3   2008           Argentina                                   78.4

In [7]:
# Merge dfs 
merged_capita_df = pd.concat(capita_df_array, ignore_index=True)
merged_capita_df

#Save csv
merged_capita_df.to_csv(per_capita_output_file_path, index=False, header=True)

In [8]:
# Path to folders for merging of all 3 cleaned datasets
input_folder_path = os.path.join(".", "Data", "Input")
output_folder_path = os.path.join(".", "Data", "output")

# Path to input files
total_consumption_input_file_path = os.path.join(input_folder_path, "primary_energy_consumption.csv")
per_capita_input_file_path = os.path.join(input_folder_path, "energy_consumption_capita.csv")
co2_input_file_path = os.path.join(input_folder_path, "co2_emissions_country.csv")

In [9]:
# Read input files
df_consumption = pd.read_csv(total_consumption_input_file_path)
df_per_capita = pd.read_csv(per_capita_input_file_path)
df_co2 = pd.read_csv(co2_input_file_path)

In [10]:
print(df_consumption.columns)

Index(['Year', 'Country', 'Primary Energy Consumption'], dtype='object')

In [11]:
merged_df = pd.merge(df_consumption, df_per_capita, on= ['Year','Country'], how='inner')
# merged_df

energy_consumption_df = pd.merge(merged_df, df_co2, on= ['Year','Country'], how='inner')
energy_consumption_df

,Year,Country,Primary Energy Consumption,Primary Energy Consumption per Capita,Energy CO2 Emissions
0,1985,Canada,10.29,398.0,403.5
1,1985,Mexico,4.08,54.5,233.9
2,1985,US,72.66,309.0,4576.0
3,1985,Argentina,1.73,57.2,94.6
4,1985,Brazil,4.94,36.1,185.0
...,...,...,...,...,...
3453,2022,Sri Lanka,0.34,15.7,19.9
3454,2022,Taiwan,4.78,200.2,272.4
3455,2022,Thailand,5.06,70.6,275.3
3456,2022,Vietnam,4.59,46.7,270.0
3457,2022,Other Asia Pacific,3.55,18.0,206.2